/* Estilos para a caixa de conteúdo */
.content-box {
    position:fixed;
    top: 90%;
    left: 80%;
    padding: 20px; /* Reduzido o padding para melhorar o espaçamento */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra suave */
    z-index: 5;
    display: flexbox;
}

/* Estilos para o título */
.title {
    font-style: italic;
    position: fixed;
    font-size: 45px;
    text-align: center;
    top: 188px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    width: 50%;
    font-weight: bold;
    z-index: 4;
}

@media (max-width: 768px) {
    .title {
        font-size: 24px; /* Reduzir o tamanho da fonte para telas menores */
        width: auto; /* Remover a largura fixa para texto responsivo */
        left: 2px; /* Alterar a posição do texto */
    }
}

/* Estilos para a imagem de perfil */
.imagePerfil {
    width: 450px; /* Tamanho personalizado */
    height: 450px;
    border-radius: 50%; /* Para criar uma imagem circular */
    top: 20%;
    left: 60%;
    margin-bottom: 20px;
    z-index: 5;
    position:fixed;
    display: flexbox;
    flex-direction: column;
    align-items: center;
}

.icones {
    height: 30px;
    width: 30px;
    z-index: 3;
    margin-left: 10px;
}

/* Estilos para o título do portfólio */
.container h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

/* Estilos para os cartões de projeto */


.card:hover {
    transform: scale(1.08); /* Aumentar o tamanho dos cartões ao passar o mouse */
}

.card-img-top {
    max-height: 400px; /* Altura máxima da imagem */
    object-fit: cover; /* Redimensiona e corta a imagem para caber no cartão */
}

.card-title {
    font-size: 24px;
    margin-top: 5px;
}

.card-text {
    font-size: 18px;
}

/* Estilos para o botão "Saiba mais" */
.btn-primary {
    margin-top: 10px;
    z-index: 5;
}

/* Estilos para a biografia */
.biography {
    font-size: 16px;
    line-height: 1.5;
}

/* Estilos para o retângulo ao meio da tela */
#content-box {
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.7);
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    display: flexbox;
    flex-direction: column;
    align-items: center;
}

/* Estilos para a imagem do perfil */
#profile-image {
    width: 180px; /* Tamanho personalizado */
    height: 180px;
    border-radius: 50%;
    display: flexbox;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    z-index: 8;
}

#pro-image {
    width: 180px; /* Tamanho personalizado */
    height: 180px;
    display: flexbox;
    flex-direction: column;
    align-items: center;
    
}

.Bloco{
    margin-top: 30%;
    position: static;
    z-index: 5;

}

@media only screen and (max-width: 1440px) and (min-width:320px) {
    #pro-image {
        width: 70px; /* Tamanho personalizado */
        height: 70px;
        flex-direction: column;
        align-items: center;  
    }
}


 



@media only screen and (min-width: 320px) and (max-width: 425px) {
    #content-box {
        
        width: 90%; /* Reduz a largura do content-box em telas menores */
         
        margin-top: 0; /* Reduz o padding para melhorar o espaçamento em telas menores */
        overflow: auto;
    }
}



@media only screen and (min-width: 1024px) and (min-height: 1024px) {
    .title{
        align-items: center;
        margin-top: 10%;
       
    }
    .imagePerfil {
        align-items: center;
        left: 50%;
        top: 20%;
        width: 280px;
        height: 270px;
        position: fixed;
       
    }

}

@media only screen and (max-width: 1200px) {
    .imagePerfil {
        align-items: center;
        left: 50%;
        transform: translate(-50%);
        top: 50%;
        width: 280px;
        height: 270px;
        position: fixed;
       
    }
}

@media only screen and (min-width: 320px) and (max-width: 425px)  {
    .icones {
        height: 30px;
        width: 30px;
        z-index: 3;
        margin-left: 40px;
        display: flex;
        justify-content: center; /* Centraliza horizontalmente */
        align-items: center; /* Centraliza verticalmente */
    }
    .imagePerfil {
        align-items: center;
        left: 50%;
        transform: translate(-50%);
        top: 60%;
        width: 280px;
        height: 270px;
        position: fixed;
        flex-wrap: wrap;
       
    }
}
